/* var(--primary)

Secondaire: var(--secondary)

Texte: var(--text)

Title: var(--title)

Accentué: var(--accent) */
$clr_primary: #252D30;
$clr_secondary: #707070;
$clr_white: #F3F3F3;
$clr_accent: #F6343D;
$limiter: 1400px;

html, body {
    margin: 0;
    padding: 0;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    min-height: 100%;
}
* {
    box-sizing: border-box;
}
#mapid {
    height: 300px;
    width: 100%;
    @media screen and (min-width: 1400px) {
        max-width: $limiter;
        margin: 0 auto;
    }
}
h3 {
    font-size: 1.6rem;
    color: $clr_primary;
}
a {
    text-decoration: none;
    color: inherit;
}
.header {
    display: flex;
    align-items: center;
    justify-content: right;
    border-radius: 0 0 .5rem .5rem;
    background-image: url('../media/antoing_logo.png');
    background-position-x: left;
    background-repeat: no-repeat;
    background-size: contain;
    min-height: 5rem;
    @media screen and (min-width: 1400px) {
        max-width: $limiter;
        margin: 0 auto;
    }
    &__nav {
        &__mobileMenu {
            a, a:visited {
                text-decoration: none;
                color: $clr_primary;
                position: relative;
                padding: 1rem;
            }
            @media screen and (min-width: 480px) {
                display: none;
            }
        }
        &__desktopMenu {
            list-style-type: none;
            display: flex;
            font-size: 1rem;
            display: none;
            li {
                padding: 1rem;
                a, a:visited {
                    position: relative;
                    text-decoration: none;
                    color: $clr_primary;
                    display: block;
                    &::before {
                        content: '';
                        position: absolute;
                        bottom: -.3rem;
                        left: 50%;
                        transform: translateX(-50%);
                        width: 100%;
                        height: 4px;
                        border-radius: 2px;
                        background-color: $clr_accent;
                        opacity: 0;
                        transition: opacity .2s;
                    }
                    &:hover::before {
                        opacity: 1;
                    }
                }
            }
            @media screen and (min-width: 480px) {
                display: flex;
            }
        }
    }
}
#navHeader {
    background: url('../media/antoing_logo.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: left;
    justify-content: end;
    @media screen and (min-width: 1024px) {
        justify-content: space-between;
    }
}
#desktopMenu {
    li {
        flex-shrink: 0;
    }
}
.main {
    &__banner {
        height: 300px;
        background: linear-gradient(90deg, rgb(20, 151, 213), rgb(203, 222, 156));
        padding: 2rem;
        position: relative;
        isolation: isolate;
        &__text {
            color: $clr_primary;
            position: absolute;
            top: 1rem;
            left: 1rem;
            width: 50%;
            text-align: center;
            @media screen and (min-width: 1400px) {
                max-width: $limiter;
                margin: 0 auto;
            }
        }
        &__castle {
            width: 100%;
            height: 100%;
            background: url('../media/chaateau.png');
            background-size: contain;
            background-repeat: no-repeat;
            background-position-x: right;
            background-position-y: bottom;
            position: relative;
            z-index:-1;
            @media screen and (min-width: 1400px) {
                max-width: $limiter;
                margin: 0 auto;
            }
        }
    }
    &__nav {
        display: flex;
        flex-wrap: wrap;
        padding-bottom: 3rem;
        @media screen and (min-width: 1400px) {
            max-width: $limiter;
            margin: 0 auto;
        }
        &__title {
            margin: 0 auto;
            padding-block: 2rem;
            flex: 1 0 100%;
        }
        &__btn {
            flex: 1 0 100%;
            padding: .5rem;
            &__icon {
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
                flex-direction: column;
                background-color: $clr_secondary;
                border-radius: 1rem;
                padding: 1rem;
                cursor: pointer;
                transition: transform .2s;
                color: $clr_white;
                min-height: 100%;
                &:hover {
                    transform: scale(1.05);
                }
                figure {
                    margin: 0;
                    img {
                        max-width: 100%;
                        filter: invert(1);
                    }
                }
                p{
                    margin: 0;
                }
            }
            @media screen and (min-width: 480px) {
                flex: 1 0 50%;
            }
            @media screen and (min-width: 1024px) {
                flex: 1 0 25%;
            }
        }
    }
}
.footer {
    background-color: $clr_primary;
    color: $clr_white;
    min-height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    &__nav {
        text-align: center;
        ul {
            list-style-type: none;
            display: flex;
            margin: 0;
            padding: 0;
            align-items: center;
            flex-direction: column;
            li {
                padding: 1rem;
            }
            li:first-child {
                order:1;
                @media screen and (min-width: 480px) {
                    order:unset;
                }
            }
            @media screen and (min-width: 480px) {
                flex-direction: unset;
            }
        }
        p {
            margin: 0;
        }
        i {
            font-size: 1.5rem;
            background-color: $clr_white;
            color: $clr_primary;
            height: 2em;
            width: 2em;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 1em;
            &:hover {
                filter: invert(1);
            }
        }
    }
}
.leaflet-routing-container, .hidden {
    display: none;
}
.frontImg {
    background-image: url("https://via.placeholder.com/1200x800");
    width: 100%;
    height: 10rem;
}
